@font-face { font-family: 'Aaargh_regular';
    src: url('fonts/Aaargh_cufonfonts/Aaargh.ttf') format('truetype'); }
    @font-face { font-family: 'Verlag_book';
        src: url('fonts/Verlag_cufonfonts/Verlag-Book.otf') format('opentype'); }

body{
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

#page1{
    margin: 0;
    display:flex;
    align-items: flex-start;
    align-content: space-between;
}

.form{
    transform: translateX(50%);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type = reset]{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-decoration: none;
    color:  rgb(0, 139, 163);
    padding: 2vh 0;
    margin: 0px 0px;
    cursor: pointer;
    font-family: 'Aaargh_regular';
    font-size: 25px;
    font-weight: bold;
 }
 input[type = button]{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-decoration: none;
    color:  rgb(0, 139, 163);
    padding: 2vh 0;
    cursor: pointer;
    font-family: 'Aaargh_regular';
    font-size: 16px;
    font-weight: bold;
 }

 #questionDisplay{
    color:rgb(0, 139, 163);
    font-family: 'Aaargh_regular';
    font-size: 25px;
    text-align: left;
    font-weight: bold;
 }
 #theFormId{
     display:flex;
     flex-direction: column;
     align-items: flex-end; 
 }
 #theFieldID{
    margin: 1em 0;
    border-color: rgb(0, 139, 163);
    border-width: .1em;
    border-style: solid;   
 }
 textarea{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 139, 163);
    border: 0px;
    caret-color: rgb(0, 139, 163);
    resize: none;
    width: 400px;
    height: 400px;
    font-family: 'Verlag_book';
    font-size: 20px;
 }
 div>p, a{
    color: rgb(0, 139, 163);
    width: 80px;
    transform: translateY(0%);
    font-family: 'Verlag_book';
    font-size: 20px;
 }
 p {
    color: rgb(0, 139, 163);
    width: 800px;
    transform: translateY(0%);
    font-family: 'Verlag_book';
    font-size: 20px;
    margin: 1em;
 }
 li{    color: rgb(0, 139, 163);
    font-family: 'Verlag_book';
    font-size: 20px;}





 @media only screen and (max-width: 600px) {

    body{
        flex-direction: column;
        display:flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .form{
        transform: translateX(0%);
    }
    
    input[type = reset]{
        font-size: 18px;
    }
    input[type = button]{
        font-size: 12px;
    }
    
    #questionDisplay{
        font-size: 18px;
        text-align: right;
    }
    textarea{
        width: 200px;
        height: 200px;
        font-size: 18px;
    }
    div>p, a{
        width: 200px;
        font-size: 18px;
        margin-bottom: -10em;
    }
    p {
        color: rgb(0, 139, 163);
        width: 90vw;
        transform: translateY(0%);
        font-family: 'Verlag_book';
        font-size: 20px;
        margin: 1em;
    }
}